body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    align-items: baseline;
}

nav {
    width: 100%;
}

.navbar-header {
    align-items: baseline;
}

.h1 {
    color: white;
    font-size: 30px;
}

a {
    color: white;
}

li:hover {
    background-color: #009618;
}

span {
    background-color: white;
}

img {
    width: 100%;
}

#imgvid {
    /*height: 574px;*/
}

h1 {
    margin: 0;
    color: white;
    margin-left: 0.5em;
}

h2 {
    margin-left: 0.6em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}

h3 {
    padding-bottom: 10px;
    font-size: 1.3em;
    font-weight: lighter;
    margin-left: 0.5em;
    margin-bottom: 0;
    text-transform: uppercase;
}

div.menubar {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

i {
    color: white;
    font-weight: normal;
    padding: 0.5em;
}

main, h5, #p3 {
    padding: 0.5em;
}

h4 {
    font-size: 45px;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 7em;
}

h5 {
    text-transform: uppercase;
    font-weight: bolder;
}

#sectionvid {
    padding: 0.5em;
    padding-bottom: 2em;
    margin-top: 4em;
}

#p {
    margin-top: 0.8em;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgray;

}

#video {
    display: flex;
    border-top: 0.5em solid black;
    align-items: baseline;
    margin-bottom: 1em;
}

#play {
    background-color: black;
    padding: 1em;
    padding-top: 0.5em;
}

#video p {
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 0.5em;
}

#search {
    background-color: #009618;
}

header {
    background-color: black;
    display: flex;
}

article {
    width: 100%;
    background-color: black;
    color: white;
}

ul {
    background-color: black;
    padding: 0.5em;
    margin: 0;
}

li.selected {
    background-color: #009618;
}

aside li {
    color: white;
    font-weight: bolder;
    list-style: none;
    text-transform: uppercase;
    border-top: solid 1px rgb(59, 59, 59);
    padding: 0.5em 0;

}

aside li:last-child {
    border-bottom: solid 1px rgb(59, 59, 59);
}

#search2 {
    align-items: center;
    background-color: black;
    padding: 2em 0;
    display: flex;
    justify-content: center;
}

#search2 input {
    width: 98%;
    border-radius: 3px;
    background-color: rgb(83, 83, 83);
    color: grey;
    border: none;
    padding: 0.2em;
}

#p2 {
    background-color: black;
    color: white;
    font-weight: bolder;
    margin: 0;
    text-transform: uppercase;
    padding: 1.5em 0;
    padding-left: 0.5em;
}
